name: Build

on:
  push:
    branches:
      - "**"

env:
  GH_TOKEN: ${{ github.token }}

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: sudo apt-get update && sudo apt-get install -y mingw-w64
      # ln -s /usr/lib/x86_64-linux-gnu/libsqlite3.a /usr/i686-w64-mingw32/lib/libsqlite3.a
      # ln -s /usr/lib/x86_64-linux-gnu/libsqlite3.so /usr/i686-w64-mingw32/lib/libsqlite3.so

      - name: Build
        run: make all
        continue-on-error: false

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: version.dll
          path: out/version.dll

